.card {
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}



#happyRange::-webkit-slider-thumb {
  background: #ffc107;
}

#angstRange::-webkit-slider-thumb {
  background: #343a40;
}

#loveRange::-webkit-slider-thumb {
  background: #dc3545;
}
