body {
  background: radial-gradient(#EFEFEF, #635F62);
}

.siteTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#moodButtonSpace {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}

.siteHeadline {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.btn {
  margin-left: 20px;
  margin-right: 20px;
  width: 115px;
}

.pull-right {
  float: right;
}

#happySubmitbtn, #sadSubmitbtn, #angstSubmitbtn, #loveSubmitbtn {
  text-align: center;

}

#happySubmit, #sadSubmit, #angstSubmit, #loveSubmit {
  display: none;
}

.results {
  display: none;
}

#happyRange::-webkit-slider-thumb {
  background: #ffc107;
}

#angstRange::-webkit-slider-thumb {
  background: #343a40;
}

#loveRange::-webkit-slider-thumb {
  background: #dc3545;
}

.pull-right {
  float: right;
}

#refresh {
  display: none;
  width: 300px;
}
